*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
scroll-behavior:smooth;
}

body{
background:#081b33;
color:#fff;
line-height:1.7;
}

.header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 50px;
background:#06152a;
position:sticky;
top:0;
z-index:1000;
}

.logo{
font-size:32px;
font-weight:bold;
color:#d4af37;
}

nav a{
color:#fff;
text-decoration:none;
margin-left:25px;
font-weight:bold;
transition:.3s;
}

nav a:hover{
color:#d4af37;
}

.hero{
height:90vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
padding:20px;
background:linear-gradient(rgba(8,27,51,.75),rgba(8,27,51,.75)),
url("https://images.unsplash.com/photo-1512820790803-83ca734da794?auto=format&fit=crop&w=1600&q=80");
background-size:cover;
background-position:center;
}

.hero h1{
font-size:58px;
margin-bottom:20px;
color:#fff;
}

.hero p{
font-size:22px;
max-width:700px;
margin-bottom:35px;
}

.btn{
display:inline-block;
padding:15
