*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#f5f9ff;
    color:#333;
}

.header{
    background:#0056d6;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 60px;
}

.logo{
    color:white;
    font-size:32px;
    font-weight:bold;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:25px;
    font-size:18px;
    font-weight:bold;
}

.hero{
    background:linear-gradient(to right,#0056d6,#4da3ff);
    color:white;
    text-align:center;
    padding:120px 20px;
}

.hero h1{
    font-size:56px;
    margin-bottom:20px;
}

.hero p{
    font-size:22px;
    max-width:800px;
    margin:auto;
}

.btn{
    display:inline-block;
    margin-top:40px;
    background:white;
    color:#0056d6;
    padding:18px 40px;
    border-radius:10px;
    text-decoration:none;
    font-weight:bold;
}

section{
    padding:80px 60px;
}

h2{
    color:#0056d6;
    text-align:center;
    font-size:42px;
    margin-bottom:30px;
}
